<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
  Splurty was built by <a target="Kimberly Conkle" href="https://vibrant-jones-4ce640.netlify.com">Kimberly</a> 
</p>
<br />
<p>
  Kimberly has an Associate in Arts Degree and attended the University of Central Florida for courses in coding
</p>
<p>
  If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
</p>
<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'kim.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kimberly Conkle</h2>
      <br />
      <p>
        Kimberly Conkle has worked hospitality for many years and recently learned coding to have a more flexability in her life. She loves the freedom to be able to travel and see the world.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />